{% extends 'base/base.html' %}

{% block title %} Restaurante {% endblock title %}

{% load static %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'clientes/css/clientes.css' %}">
{% endblock css %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5 flex-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h1>Welcome to our restaurant website!<h1>
                <small class="text-muted">
                    Feel free to navigate and discover more about us. Let's get started!
                </small>
                <div class="listLinks mt-3">
                    <a href="{% url 'home' %}">Clientes</a>
                    {% comment %} {% if request.is_authenticated %}
                        {% if not request.user.is_staff %} {% endcomment %}
                            <a href="{% url 'ordersIndex' %}">Pedidos</a>
                        {% comment %} {% else %} {% endcomment %}
                            {% comment %} <a href="{% url 'customerDetails' request.user.customer.id %}">Perfil</a> {% endcomment %}
                        {% comment %} {% endif %}
                    {% endif %} {% endcomment %}
                    <a href="{% url 'reviewsIndex' %}">Opiniones</a>
                    <a href=" {% url 'contact' %} ">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}