{% extends 'base/base.html' %}

{% block title %} Detalles del cliente {% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'clientes/css/details.css' %}">
{% endblock css %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2 class="mt-3 mb-5">Customer's details</h2>
                <div class="card border-primary">
                    <div class="card-header border-primary">
                        <h5 class="mt-2">Nombre:  {{ customer.fullname }}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">Dirección:  {{ customer.address }}</h6>
                    </div>
                    <div class="card-body">
                        {% load static %}
                        <img class="img-fluid rounded mx-auto d-block" src="{% static "clientes/images/fifa18.jpg" %}" alt="My image">
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small class="text-muted">Nacido el {{ customer.birthday|default:"(No hay información)" }} </small>
                        </li>
                        <li class="list-group-item">
                            <small class="text-muted">Registrado el {{ customer.registered }} </small>
                        </li>
                    </ul>
                    <div class="card-header border-primary">
                        <h5 class="mt-2">Reviews recientes</h5>
                    </div>
                    {% for r in customer.reviews.all %}
                        <div class="card-body">
                            {{ r.title }}
                        </div>
                    {% empty %}
                        <div class="card-body">
                            <p class="text-muted mt-2">No reviews found</p>
                        </div>
                    {% endfor %}
                    <div class="card-header border-primary">
                        <h5 class="mt-2">Pedidos recientes</h5>
                    </div>
                    {% for o in customer.customerOrders.all %}
                        <div class="card-body">
                            <p>Pedido Nº: {{ o.order_ref }}</p>
                        </div>
                    {% empty %}
                        <div class="card-body">
                            <p class="text-muted mt-2">No orders found</p>
                        </div>
                    {% endfor %}

                    <div class="card-footer p-0 link">
                        <a href="{% url 'customersIndex' %}" class="btn btn-block btn-outline-info"> Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}