{% extends 'base/base.html' %}

{% block title %} Clientes {% endblock title %}

{% load static %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'clientes/css/index.css' %}">
{% endblock css %}

{% block content %}

<div class="container flex-container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2 class="mt-3 mb-5">Listed customers</h2>
                {% if 'created' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">Se ha registrado con éxito el cliente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if 'updated' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">Se ha actualizado con éxito el usuario
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if 'deleted' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">Se ha eliminado con éxito el cliente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if 'unable' in request.GET %}
                <div class="alert alert-danger alert-dismissible fade show">No se pudo llevar a cabo la acción solicitada
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if object_list %}
                    {% for c in object_list %}
                    <div class="card mb-2 ">
                        <div class="card-header">
                            <h5 class="mt-2">{{ c.fullname }}</h5>
                        </div>
                        {% comment %} {% if request.is_Authenticated %} {% endcomment %}
                            <div class="card-body">
                                <a href="{% url 'customerDetails' c.id c.slug %}" class="btn btn-outline-success btn-sm ml-5"><i class="fas fa-search"></i> Ver detalles</a>
                                {% comment %} {% if request.user.is_staff %} {% endcomment %}
                                    <a onclick="return confirm('¿Eliminar usuario?')" href="{% url 'customersDelete' c.user.id %}" class="float-right"><i class="fas fa-trash-alt"></i> </a>
                                    <a href="{% url 'customersUpdate' c.user.id %}" class="float-right mr-3"><i class="fas fa-edit "></i> </a>
                                {% comment %} {% endif %} {% endcomment %}
                            </div>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                    {% endfor %}
                    
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="alert alert-danger">Lo sentimos!</h4>
                        </div>
                        <div class="card-body">
                            Parece que no hay ningún cliente registrado en el sistema en estos momentos.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}