{% extends 'base/base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2 class="mt-5 mb-4">Acerca de nosotros</h2>
                <small style="font-style: italic;" class="text-muted">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</small>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus quis leo sollicitudin 
                    blandit. Praesent scelerisque dolor et augue aliquam consequat. Cras imperdiet quis ante vel 
                    sodales. Sed semper elit nec erat luctus, quis rutrum mauris aliquet. Morbi quam nunc, pretium 
                    eleifend ligula in, faucibus commodo nisl. Mauris dignissim faucibus lacus eget tempus. Ut 
                    vestibulum purus a lacinia gravida. Mauris a leo imperdiet metus pharetra gravida. </p>

                <p class="mt-4">Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sed ex congue, dictum sem vel, suscipit odio. Duis magna massa, fringilla vel magna ut, pulvinar lacinia sem. Pellentesque et felis tincidunt, finibus diam vel, feugiat risus. Ut nec ipsum quis nulla bibendum pharetra ac vel purus. Pellentesque laoreet nisi vitae erat auctor, at condimentum odio convallis. Vestibulum pharetra tellus bibendum, rhoncus neque in, vehicula urna. Vivamus egestas enim vel sem eleifend, ac tristique dui feugiat. Curabitur tristique nisi velit. Etiam scelerisque neque sit amet orci fringilla pretium. Donec bibendum risus vel sodales interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec venenatis urna quis eros pulvinar lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                <p class="mt-4">Duis vel lacinia enim, ac fringilla nulla. Ut sit amet pulvinar purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante leo, pulvinar eget libero nec, finibus gravida metus. Praesent facilisis sit amet dolor et consectetur. Integer ut quam eu nisi aliquam viverra. Duis feugiat lorem eget ante fringilla, in bibendum nunc placerat. Phasellus finibus augue in ipsum interdum, in consectetur augue lacinia. Vivamus tempor sapien eget tristique hendrerit. Etiam ut neque felis. Donec non condimentum nibh. Sed interdum rhoncus posuere. Sed et luctus nisl, id faucibus dui. </p>

                <p class="mt-4">Aenean ex diam, sollicitudin vitae risus dapibus, volutpat pretium metus. Aenean auctor mollis efficitur. Nulla posuere quam rhoncus urna dapibus, quis aliquet ante tincidunt. Cras facilisis faucibus magna id sagittis. Nulla vestibulum, tortor vel vulputate rhoncus, sapien magna dictum augue, laoreet vehicula ante risus ac nibh. Ut suscipit lorem sit amet nisl vulputate, eu finibus enim luctus. Sed nec erat sit amet diam vehicula interdum. Donec ipsum magna, vulputate aliquam risus sed, egestas ultricies dolor. Nunc feugiat odio quis magna aliquam sollicitudin. Mauris tincidunt velit ut purus vulputate, ut semper sem cursus. Phasellus rutrum arcu purus, ac porta augue posuere a. Duis accumsan dui a mollis auctor. Quisque sed nisi volutpat, sodales sem eu, tristique sem. </p>

                <p class="mt-4 mb-4">In eget turpis diam. Donec volutpat elementum ipsum sed commodo. Sed eget mi ut felis faucibus pharetra sed ac ante. Quisque sagittis, lacus in euismod semper, metus erat interdum nibh, at dignissim tellus ex ornare tortor. In pretium ipsum vel ante pulvinar, sed cursus nisi venenatis. Fusce eget vehicula nisi. Proin placerat luctus erat tincidunt euismod. Proin egestas pellentesque ante, vel ultrices tellus posuere in. Etiam laoreet hendrerit porta. Integer blandit ipsum eu ligula pretium euismod. Proin sed convallis turpis. In malesuada leo quis sollicitudin aliquet. </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}