{% extends 'base/base.html' %}

{% block title %} Detalles de la review {% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/details.css' %}">
{% endblock css %}

{% block content %}
<div class="container mt-3 flex-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2 class="mt-3 mb-5">Review's details</h2>
                <div class="card border-primary">
                    <div class="card-header border-primary">
                        <h5 class="mt-2">Título:  {{ review.title }}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">Contenido de la opinión:</h6>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">{{ review.content }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small class="text-muted">Escrito por {{ review.author }} </small>
                        </li>
                    </ul>

                    <div class="card-footer p-0 link">
                        <a href="{% url 'reviewsIndex' %}" class="btn btn-block btn-outline-info"> Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}