{% extends 'base/base.html' %}

{% block title %} Opiniones {% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'reviews/css/index.css' %}">
{% endblock css %}

{% block content %}

<div class="container flex-container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2 class="mt-3 mb-5">Reviews wrote</h2>
                {% if 'created' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">Se ha registrado con éxito la opinión
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if 'deleted' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show">Se ha eliminado con éxito la opinión
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if reviews %}
                    {% for r in reviews %}
                    <div class="card mb-2 ">
                        <div class="card-header">
                            <h5 class="mt-2">{{ r.title }}</h5>
                        </div>
                        <div class="card-body">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <a href="{% url 'reviewDetails' r.id %}" class="btn btn-outline-success btn-sm ml-5"><i class="fas fa-search"></i> Ver detalles</a>
                                    <a onclick="return confirm('¿Eliminar opinión?')" href="{% url 'reviewsDelete' r.id %}" class="float-right"><i class="fas fa-trash-alt"></i> </a>
                                    <a href="{% url 'reviewUpdate' r.id %}" class="float-right mr-3"><i class="fas fa-edit "></i> </a>
                                {% else %}
                                    {% if request.user.customer == r.author %}
                                        <a href="{% url 'reviewDetails' r.id %}" class="btn btn-outline-success btn-sm ml-5"><i class="fas fa-search"></i> Ver detalles</a>
                                        <a onclick="return confirm('¿Eliminar opinión?')" href="{% url 'reviewsDelete' r.id %}" class="float-right"><i class="fas fa-trash-alt"></i> </a>
                                        <a href="{% url 'reviewUpdate' r.id %}" class="float-right mr-3"><i class="fas fa-edit "></i> </a>
                                    {% else %}
                                        <a href="{% url 'reviewDetails' r.id %}" class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i> Ver detalles</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a href="{% url 'reviewDetails' r.id %}" class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i> Ver detalles</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="alert alert-danger">Lo sentimos!</h4>
                        </div>
                        <div class="card-body">
                            Parece que no hay ninguna review escrita por ningún usuario en estos momentos.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}