{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}">
{% endblock css %}

{% block content %}
<div class="container flex-container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h3 class=" mb-5">Inicio de sesión</h3>
            {% if 'updated' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show">Se ha actuallizado con éxito su perfil.</br>
                Inicie sesión de nuevo para acceder a su perfil y visualizar los cambios
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="text-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% include 'base/form_base.html' with form=form %}
                    <div class="form-group row mb-3 mt-5">
                        <div class="col-md-12 text-center">
                            <a class="float-left pt-2" href={% url 'home' %}><i class="fas fa-chevron-left"></i> Volver</a>
                            <button style="position: relative; left: -3%;" type="submit" class="btn btn-outline-primary">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}